page-rating {
    .select-md,.select-ios {
        padding: 11px 16px 13px 8px;
        background: #fff;
        margin: auto;
    }
    ion-input, ion-textarea{
        background: #fff;
        color:#000;
        margin-top: -5px;
    }
        .tb-head{
            .col{
                font-weight: bold;
                text-align: center;
                border: .5px solid #fff;
                background:#000;
                color:#fff;
                font-size:14px;
            }
        }
        .tb-detail{
            .col{
                border: .5px solid #000;
                p{
                    margin:4px;
                    strong {
                        font-size: 1.4em;
                    }
                }
            }
            .item{
                padding:0;
                margin:0;
                
                ion-input{
                    padding:0;
                    margin:0;
                    font-size: 14px;
    
                }
                
            }
            margin-bottom:4px;
        }
        .tb-total{
            .col{
                border: .5px solid #000;
                font-weight: bold;
            }
        }
        ul {
            padding: 0px;
          
            &.rating li {
              padding: 5px 10px !important;
              background: none;
              color: #ff3300;
          
              ion-icon {
                font-size: 30px;
              }
            }
          }    

    }
