page-register {
    .btn-send{
        .button-md{
            background:$yellow;
            color:$black;
            border:1px solid $black;
        }
        .button-md:hover:not(.disable-hover){
            background:$black;
            color:$white;
        }
    }
}
