page-register {
    .btn-send{
        .button-md{
            background:$yellow;
            color:$black;
            border:1px solid $black;
        }
        .button-md:hover:not(.disable-hover){
            background:$black;
            color:$white;
        }
    }
    .label-md[floating]{
        color:$black;
    }
    .item-input-has-focus{
        .label-md[floating]{
            color:$black;
        }
    }
    .item-md{
        background:transparent;
    }
    .item-input{
        display: block;
    }
}

