page-history {
    .item-md,.item-ios{
        padding:0;
        border: 0;
        background:transparent;
        
    }
    .button-ios{
        font-size: 1em;
        height:2.2em;
    }

    .item-md.item-block{
        .item-inner{
            padding-right:0;
            border-bottom:0;
        } 
    }
    .item-ios.item-block{ 
        .item-inner{
            padding-right:0;
            border-bottom:0;
        }
    }

    .item-label-stacked ion-datetime, .item-label-floating ion-datetime {
        padding-left: 10px;
        width: 100%;
        background:$white;
        border-radius: 4px;
    }
    .status{
        text-transform: uppercase;
    }
        .card{
        padding:0;
        background:transparent;
        border:0;
        width:auto;
        border:1px solid #000;
        .card-header{
            padding:10px;
            position: relative;
            width:100%;
            p{
                color:#464646;
            }
            .badge{
                position: absolute;
                right: 15px;
                top:25%;
                text-transform: uppercase;
            }
            .button-md,.button-ios{
                position: absolute;
                right: 10px;
                width:36px;
                background:transparent;
                top:10px;
                font-size: 18px;
                padding:0;
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
            }
        }
        .card-content{
            border-top: 1px solid rgba(0,0,0,.2);
            padding-top:10px;
            .attach-panel{
                border-top:1px dashed #000;
            }
            .row{
                padding:0;
                margin-bottom:10px;
                border-bottom:1px solid #000;
            }
            .row:last-child{
                border-bottom:0;
            }
        }
    }
    ul.rating{
        padding: 0;
        margin: 4px;
        font-size: 1.6em;
        li{
            padding:0 !important;
            margin:0;
        }
    }

}
