<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PAYMENT</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <h5>CONFIRMATION ORDER #{{ order.code }}</h5>
    <hr/>

  <form (ngSubmit)="doSubmit()" [formGroup]="frmConfirm">
      <ion-list radio-group formControlName="bank">
            <ion-item *ngFor="let b of banks; let i=index;">
              <ion-label>
                <p>ชื่อบัญชี <strong>{{ b.bank_account }}</strong></p>
                <p> เลขที่ <strong>{{ b.bank_id }}</strong> บัญชี : <strong> {{ b.bank_type }} </strong></p>

                <p> ธนาคาร : <strong>{{ b.bank_name }}</strong></p>
                <p>สาขา : <strong>{{ b.bank_branch }}</strong></p>

              </ion-label>
              <ion-radio color="default" item-left value="{{ b.id }}"></ion-radio>
              <hr/>
            </ion-item>
            <div *ngIf="frmConfirm.controls['bank'].invalid && (frmConfirm.controls['bank'].dirty || frmConfirm.controls['bank'].touched)"
              class="alert alert-danger">
              <div *ngIf="frmConfirm.controls['bank'].errors.required">
                *Please checked bank.
              </div>
            </div>
      </ion-list>

      <ion-list>
          <ion-item>          
              <ion-label stacked>Subject</ion-label>
              <ion-input type="text" formControlName="subject" ></ion-input>
          </ion-item>
          <div *ngIf="frmConfirm.controls['subject'].invalid && (frmConfirm.controls['subject'].dirty || frmConfirm.controls['subject'].touched)"
            class="alert alert-danger">
            <div *ngIf="frmConfirm.controls['subject'].errors.required">
              *Please enter Subject.
            </div>
          </div>
          <ion-item>
              <ion-label stacked>Message</ion-label>
              <ion-textarea type="text" formControlName="message" ></ion-textarea>
          </ion-item>
          <div *ngIf="frmConfirm.controls['message'].invalid && (frmConfirm.controls['message'].dirty || frmConfirm.controls['message'].touched)"
            class="alert alert-danger">
            <div *ngIf="frmConfirm.controls['message'].errors.required">
              *Please enter Message.
            </div>
          </div>
          <ion-item>
              <p><img src="{{imageURI}}" *ngIf="isPreview" /></p>
              <p>
                  <button ion-button full color="default" type="button" (click)="getAttach()">ATTACH FILE</button>
              </p>
          </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button color="light" type="button" full (click)="doCancel()">CANCEL</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button color="defult" type="submit" full  [disabled]="!frmConfirm.valid" >SUBMIT</button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>
  <p>{{ res }}</p>
</ion-content>
