page-track {
    .card{
        padding:0;
        background:transparent;
        border:0;
        width:100%;
        border:1px solid #000;
        .card-header{
            padding:10px;
            position: relative;
            width:100%;
            p{
                color:#464646;
            }
            .badge{
                position: absolute;
                right: 15px;
                top:25%;
                text-transform: uppercase;
            }
        }
        .card-content{
            border-top: 1px solid #000;
        }
    }
}
