page-track {
    .bar-button-md[icon-only]{
        width:26px;
        margin-right:10px;
    }
    .card{
        padding:0;
        background:transparent;
        border:0;
        border:1px solid #000;
        .card-header{
            padding:10px;
            position: relative;
            width:100%;
            p{
                color:#464646;
            }
            .badge{
                position: absolute;
                right: 15px;
                top:25%;
                text-transform: uppercase;
            }
        }
        .card-content{
            border-top: 1px solid rgba(0,0,0,.2);
            padding-top:10px;
            .attach-panel{
                border-top:1px dashed #000;
            }
            .row{
                padding:0;
                margin-bottom:10px;
                border-bottom:1px solid #000;
            }
            .row:last-child{
                border-bottom:0;
            }
        }
    }
}
